{% extends 'base.html' %}

{% block content %}
  <div class="row text-center mt-5 justify-content-center">
    <h1 class="my-5">
      <span class="fw-bold">{{ user.username }}</span>님의 프로필</h1>
    <div class="m-auto">
      <p class="mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person" viewbox="0 0 16 16">
          <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
        </svg>
        {{ user.full_name }}</p>
      <p class="mb-5">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope" viewbox="0 0 16 16">
          <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
        </svg>
        {{ user.email }}</p>
    </div>
    <div class="d-flex text-start justify-content-evenly">
      <div class="mb-4">
        <h4 class="fw-bold">작성한 글</h4>
        <p class="text-muted">{{ user.article_set.count }}개를 작성하였습니다.</p>
        {% for article in user.article_set.all %}
          <p>
            <a class="text-decoration-none" href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a>
          </p>
        {% endfor %}
      </div>
      <div class="mb-4">
        <h4 class="fw-bold">작성한 댓글</h4>
        <p class="text-muted">{{ user.comment_set.count }}개를 작성하였습니다.</p>
        {% for comment in user.comment_set.all %}
          <p>
            <a class="text-decoration-none" href="{% url 'articles:detail' comment.article_id %}">{{ comment.content }}</a>
          </p>
        {% endfor %}
      </div>
    </div>
    {% if request.user == user %}
      <div>
        <a class="btn btn-primary me-3" href="{% url 'accounts:update' %}">수정하기</a>
        <a class="btn btn-outline-primary" href="{% url 'accounts:index' %}">회원목록</a>
      </div>
    {% else %}
      <div>
        <a class="btn btn-outline-primary" href="{% url 'accounts:index' %}">회원목록</a>
      </div>
    {% endif %}
  </div>

{% endblock content %}