{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}

  <div class="container mt-5">
    <!-- Header -->
    <div class="d-flex align-items-center">
      <div>
        <h1 class="fw-bold">{{ article.title }}</h1>
      </div>
      {% if comments %}
        <div class="ms-4 text-primary">
          <b>쫑알쫑알
            {{ comments|length }}</b>
        </div>
      {% endif %}
    </div>
    <div class="d-flex mt-2">
      <div>
        <a class="text-decoration-none" href="{% url 'accounts:detail' article.user.pk %}">{{ article.user.username }}</a>
      </div>
      &nbsp;|&nbsp;
      <div>
        {% if article.created_string == False %}
          <p>{{ article.created_at|date:'m월 d일' }}
            작성됨</p>
        {% else %}
          <p>{{ article.created_string }}
            작성됨</p>
        {% endif %}
      </div>
      &nbsp;|&nbsp;
      <div>
        {% if article.updated_string == False %}
          <p>{{ article.updated_at|date:'m월 d일' }}
            수정됨</p>
        {% else %}
          <p>{{ article.updated_string }}
            수정됨</p>
        {% endif %}
      </div>
    </div>
    <!-- Content -->
    <div>
      {% if article.image %}
        <img src="{{ article.image.url }}" alt="{{ article.image }}" width="400" height="300">
        <p class="me-5 mt-3">{{ article.content }}</p>
      {% else %}
        <p class="me-5 mt-3">{{ article.content }}</p>
      {% endif %}
    </div>
    <!-- Buttons -->
    {% if request.user == article.user %}
      <div class="d-flex justify-content-end">
        <a class="btn btn-success" href="{% url 'articles:update' article.pk %}">수정</a>
        <form action="{% url 'articles:delete' article.pk %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="삭제" class="btn btn-danger">
        </form>
      </div>
    {% endif %}
    <hr class="my-5">
    <!-- Comments -->
    {% if request.user.is_authenticated %}
      <form action="{% url 'articles:comment_create' article.pk %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form comment_form %}
        <div class="d-flex justify-content-end">
          {% bootstrap_button button_type="submit" content="등록" button_class="btn-primary" %}
        </div>
      </form>
    {% endif %}
    <br>
    <div>
      {% for comment in comments %}
        <div class="d-flex">
          <div class="d-flex align-items-center">
            <a class="text-decoration-none" href="{% url 'accounts:detail' comment.user.pk %}">{{ comment.user.username }}</a>&nbsp;|&nbsp;{{ comment.content }}
          </div>
          <div class="d-flex align-items-center ms-3 text-secondary">
            {% if comment.created_string == False %}
              {{ comment.created_at|date:'m월 d일' }}
            {% else %}
              {{ comment.created_string }}
            {% endif %}
          </div>
          {% if request.user == comment.user %}
            <form action="{% url 'articles:comments_delete' article.pk comment.pk %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-danger ms-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewbox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
              </button>
            </form>
          {% endif %}
        </div>
        <hr>
        {% empty %}
        <div>
          <p>안녕하십니까? 댓글이 없는 곳에 번개처럼 나타나는 무플방지위원회입니다.
            <br>
            -무플방지위원회일동-
            <br>
            &nbsp;（｡･ω･｡)つ━☆・*。<br>
            ⊂ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ノ ・゜+.<br>
            &nbsp;&nbsp;しー&nbsp;Ｊ °。+ *</p>
        </div>
        <hr>
      {% endfor %}
    </div>
  </div>

{% endblock %}