{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}

  <div class="container mt-5">
    <!-- Header -->
    <div class="d-flex align-items-center">
      <div>
        <h1 class="fw-bold">{{ article.title }}</h1>
      </div>
      <!-- 댓글 갯수 -->
      {% if comments %}
        <div class="ms-4 text-primary">
          <b>쫑알쫑알
            {{ comments|length }}</b>
        </div>
      {% endif %}
      <!-- 좋아요 버튼 -->
      {% if request.user.is_authenticated %}
        <div class="ms-3 d-flex align-items-center">
          <form action="{% url 'articles:like' article.pk %}" method="POST">
            {% csrf_token %}
            {% if request.user in article.like_users.all %}
              <button class="btn btn-link text-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewbox="0 0 16 16">
                  <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
                </svg>
              </button>
            {% else %}
              <button class="btn btn-link text-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart" viewbox="0 0 16 16">
                  <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
                </svg>
              </button>
            {% endif %}
          </form>
          <div>{{ article.like_users.count }}</div>
        </div>
      {% endif %}
    </div>
    <div class="d-flex mt-2">
      <div>
        <a class="text-decoration-none" href="{% url 'accounts:detail' article.user.pk %}">{{ article.user.username }}</a>
      </div>
      &nbsp;|&nbsp;
      <div>
        {% if article.created_string == False %}
          <p>{{ article.created_at|date:'m월 d일' }}
            작성됨</p>
        {% else %}
          <p>{{ article.created_string }}
            작성됨</p>
        {% endif %}
      </div>
      &nbsp;|&nbsp;
      <div>
        {% if article.updated_string == False %}
          <p>{{ article.updated_at|date:'m월 d일' }}
            수정됨</p>
        {% else %}
          <p>{{ article.updated_string }}
            수정됨</p>
        {% endif %}
      </div>
    </div>
    <!-- Content -->
    <div>
      {% if article.image %}
        <img src="{{ article.image.url }}" alt="{{ article.image }}" width="400" height="300">
        <p class="me-5 mt-3">{{ article.content }}</p>
      {% else %}
        <p class="me-5 mt-3">{{ article.content }}</p>
      {% endif %}
    </div>
    <!-- Buttons -->
    {% if request.user == article.user %}
      <div class="d-flex justify-content-end">
        <a class="btn btn-success me-2" href="{% url 'articles:update' article.pk %}">수정</a>
        <form action="{% url 'articles:delete' article.pk %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="삭제" class="btn btn-danger">
        </form>
      </div>
    {% endif %}
    <hr class="my-5">
    <!-- Comments -->
    {% if request.user.is_authenticated %}
      <form action="{% url 'articles:comment_create' article.pk %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form comment_form %}
        <div class="d-flex justify-content-end">
          {% bootstrap_button button_type="submit" content="등록" button_class="btn-primary" %}
        </div>
      </form>
    {% endif %}
    <br>
    <div>
      {% for comment in comments %}
        <div class="d-flex">
          <div class="d-flex align-items-center">
            <a class="text-decoration-none" href="{% url 'accounts:detail' comment.user.pk %}">{{ comment.user.username }}</a>&nbsp;|&nbsp;{{ comment.content }}
          </div>
          <div class="d-flex align-items-center ms-3 text-secondary">
            {% if comment.created_string == False %}
              {{ comment.created_at|date:'m월 d일' }}
            {% else %}
              {{ comment.created_string }}
            {% endif %}
          </div>
          {% if request.user == comment.user %}
            <form action="{% url 'articles:comments_delete' article.pk comment.pk %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-danger ms-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewbox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
              </button>
            </form>
          {% endif %}
        </div>
        <hr>
        {% empty %}
        <div>
          <p>안녕하십니까? 댓글이 없는 곳에 번개처럼 나타나는 무플방지위원회입니다.
            <br>
            -무플방지위원회일동-
            <br>
            &nbsp;（｡･ω･｡)つ━☆・*。<br>
            ⊂ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ノ ・゜+.<br>
            &nbsp;&nbsp;しー&nbsp;Ｊ °。+ *</p>
        </div>
        <hr>
      {% endfor %}
    </div>
  </div>

{% endblock %}