<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Document</title>
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar bg-light">
      <div class="container ms-3 justify-content-start">
        <a class="navbar-brand fw-bold ms-3" href="{% url 'index' %}">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-twitch" viewbox="0 0 16 16">
            <path d="M3.857 0 1 2.857v10.286h3.429V16l2.857-2.857H9.57L14.714 8V0H3.857zm9.714 7.429-2.285 2.285H9l-2 2v-2H4.429V1.143h9.142v6.286z"/>
            <path d="M11.857 3.143h-1.143V6.57h1.143V3.143zm-3.143 0H7.571V6.57h1.143V3.143z"/>
          </svg>
        </a>
        {% if user.is_authenticated %}
          <a class="navbar-brand fw-bold" href="{% url 'accounts:detail' user.pk %}">
            {{ request.user.username }}</a>
        {% else %}
          <a class="navbar-brand fw-bold" href="#">
            익명1</a>
        {% endif %}
      </div>
    </nav>
    <div class="container">
      {% block content %}{% endblock content %}
    </div>
    <div class="d-flex justify-content-center">
      <footer class="text-center py-0 position-absolute bottom-0">Copyright 2022. 이수경 All rights reserved.</footer>
    </div>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>

</html>